.App {
  text-align: center;
  
}

.body{
  background-color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
 
  display: flex;
  align-items: center;
  justify-content: center;
  
  color: white;
}


ul {
  list-style-type: none;
  font-family: serif;
  font-size: 20px;
}
a{
  font-size: 13px;
}



img{ 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
.search{
  display: flex;
}
.star{
  margin-top: 25px;
}

.titre{
  color: beige;
  font: initial;
  font-size:30px;
}
.test{
  background-color: black !important;
}
.card{ background-color: black !important;}
.card-title{color: blanchedalmond !important;}